body {
    color: #332F99;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
}

header div {
    display: flex;
    gap: 1rem;
}

header nav button {
    border: none;
    height: 2.2rem;
    background-color: #332F99;
    border: 1px solid #332F99;
    color: white;
    border-radius: 4px;
}

header nav button:hover {
    cursor: pointer;
}

aside {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -20rem;
    width: 15rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.5rem;
    background-color: white;
}

aside form img {
    max-width: 8rem;
    min-width: 8rem;
}

aside form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside form select,
aside form input {
    height: 2rem;
    font-size: medium;
    border-radius: 3px;
}

aside form button {
    width: 100%;
    height: 2rem;
    background-color: #332F99;
    border: 1px solid #332F99;
    color: white;
    border-radius: 4px;
}

aside form button:hover {
    cursor: pointer;
}

.card-produto {
    height: 20rem;
    height: 15rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 1rem;
}

.card-produto:hover {
    cursor: pointer;
}

.card-produto img {
    max-height: 100%;
    width: auto;
}

#lista-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#lista-produtos.move-right {
    transform: translateX(20rem);
    transition: transform 0.3s ease;
}


#fechar {
    width: 1.5rem;
    border: 1px solid red;
    color: red;
    background-color: white;
}

#fechar:hover {
    cursor: pointer;
}