body {
    color: #332F99;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #6B6799;

}

#formulario {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    padding: 1rem 2.5rem;
    background-color: white;
}

form header {
    margin-bottom: 0.7rem;
}

form header p,
form header h1 {
    margin: 0;
    padding: 0;
}

form header p,
label,
a {
    font-size: 14px;
}

a {
    color: #332F99;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

form main {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

form main div div {
    display: flex;
    justify-content: space-between;
}

input {
    width: 20rem;
    height: 1.4rem;
}

form main button {
    width: 100%;
    height: 2rem;
    background-color: #332F99;
    border: 1px solid #332F99;
    color: white;
    border-radius: 4px;
}

form main button:hover {
    cursor: pointer;
}

form footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.valor_errado {
    border: 1.2px solid #E11B36;
}